body {
  min-height: 100%;         
  height: auto !important;
  margin: 0;            
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.column { 
  position: absolute; 
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#panel3 { 
  background: #000 url(../images/map-3.jpg) 0 0;
  border-left: 2px solid black;
  height: 1080px;
  width: 1920px;
  left: 1920px;
  border-left: 1px solid black;

}

#panel1 {
  padding: 0;
  left: 0;
  background: #000 url(../images/map-1.jpg) 0 0;
  height: 1080px;
  width: 1920px;
}
#panel2 {
  padding: 0;
  left: 1920px;
  background: #000 url(../images/map-2.jpg) 0 0;
  height: 1080px;
  width: 1920px;
  border-left: 2px solid black;

}
.panelHandle {
  height: 1080px;
  width: 10px;
 /* background: -moz-linear-gradient(left, rgba(100, 100, 100, 1), rgba(255, 255, 255, 0));
  background: -webkit-linear-gradient(left, rgba(100, 100, 100, 1), rgba(255, 255, 255, 0)); */
  background-color: white;
  position: relative;
  left: 0;
}

#panel4 { 
  left: 1920px;
  padding: 50px 30px; /* RC padding */ 
  background-color: #00aeef;
  height: 1080px;
  border-left: 1px solid black;
}

#panel4 img {
    float: right;
    padding-top: 20px;
    padding-right: 70px;
}

#mus-txt-content {
    clear: both;
    padding-top: 40px;
    width: 200px;
}

.mapLabel {
    background: url('../images/e1_n2_2.png') no-repeat 0 100%;
    color: white;
    height: 215px;
    width: 241px;
    font-size: 9px;
}

.mapLabel  span {
    margin-right: 20px;
    float: right;
}


