@font-face {font-family: "HelveticaNeueW01-77BdCn"; src: url('../helvetica/HelveticaNeueLTStd-BdCn.otf');}
@font-face {font-family: "HelveticaNeueRoman"; src: url('../helvetica/HelveticaNeueLTStd-Roman.otf');}


body {
  min-height: 100%;         
  height: auto !important;
  margin: 0;            
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  font-family: "HelveticaNeueRoman";
}

/*
body > * {
  cursor: none; 
}
*/

.column { 
  position: absolute; 
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#panel3 { 
  background: #000 url(../images/map-3.jpg) 0 0;
  border-left: 2px solid black;
  height: 1080px;
  width: 1920px;
  left: 1920px;
  border-left: 1px solid black;

}

#panel1 {
  padding: 0;
  left: 0;
  background: #000 url(../images/map-1.jpg) 0 0;
  height: 1080px;
  width: 1920px;
}
#panel2 {
  padding: 0;
  left: 1920px;
  background: #000 url(../images/map-2.jpg) 0 0;
  height: 1080px;
  width: 1920px;
  border-left: 2px solid black;

}
.panelHandle {
  height: 1080px;
  width: 8px;
 /* background: -moz-linear-gradient(left, rgba(100, 100, 100, 1), rgba(255, 255, 255, 0));
  background: -webkit-linear-gradient(left, rgba(100, 100, 100, 1), rgba(255, 255, 255, 0)); */
  background-color: white;
  position: absolute;
  left: 0px;
}

.topInfo {
    top: 0;
    left: 0;
    width: 480px;
    height: 110px;
    position: absolute;
    padding-left: 30px;
}

.topInfo h1 {
    width: 480px;
    font-size: 20px;
    font-family: "HelveticaNeueW01-77BdCn";
}

.topInfo.heritage {
  background-color: #00aeef;
}

.topInfo.museum {
  background-color: #ed1c24;
}

#panel4 { 
  left: 1920px;
  padding: 10px 30px; /* RC padding */ 
  height: 1080px;
  width: 480px;
  border-left: 8px solid black;
}

#panel4.heritage {
  background-color: #00aeef;
}

#panel4.museum {
  background-color: #ed1c24;
}

#panel4.whiteBorder {
  border-left: 10px solid white;
}

#panel4 img {
    float: right;
    padding-top: 20px;
    padding-right: 70px;
}

#mus-txt-content {
    clear: both;
    padding-top: 130px;
    width: 300px;
    font-size: 12px;
}

#mus-txt-content h1.name {
    width: 250px;
    font-size: 20px;
    font-family: "HelveticaNeueW01-77BdCn";
}

#mus-txt-content ul {
    list-style-type: none;
    padding: 0;
}

.mapLabel {
    background: url('../images/e1_n2_2.png') no-repeat 0 100%;
    color: white;
    height: 215px;
    width: 241px;
    font-size: 9px;
}

.mapLabel  span {
    margin-right: 20px;
    float: right;
}

.pt {
  color: white;
}

.rotTextPt {
  height: 200px;
  width: 230px;
  position: absolute;
  left: 0px;
  color: white;
  margin-top: 50px;
  rotate:(-90deg);
  -moz-transform: translate(75px, 100px); 
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);	
}

.rotTextEn {
  height: 200px;
  width: 250px;
  position: absolute;
  left: 0px;
  margin-top: 50px;
  color: black;
  rotate:(-90deg);
  -moz-transform: translate(75px, 100px); 
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);	
}


#languageSwitcher {
    width: 1920px;
    z-index: 80;
    position: absolute;
    top:0;
}

.ls-en.en {
    top: 90px;
    left: 1700px;
    position: absolute;

}

.ls-pt.pt {
    top: 50px;
    left: 1750px;
    position: absolute;

}

.ls-en.pt {
    top: 90px;
    left: 1720px;
    position: absolute;
    z-index: 90;
}

.ls-pt.en {
    top: 90px;
    left: 1790px;
    position: absolute;
}

.hide {
    display: none;
}

#leftButtons {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 80;
    height: 500px;
}

#museum.en-pos {
    position: absolute;
    left: 60px;
    top: 160px;
}

#heritage.en-pos {
    position: absolute;
    left: 60px;
    top: 150px;
}

#museum.pt-pos {
    position: absolute;
    left: 60px;
    top: 170px;
}

#heritage.pt-pos {
    position: absolute;
    left: 20px;
    top: 210px;
}

#state-button-off.en-pos{
    position: absolute;
    left: 40px;
    top: 270px;
}

#city-button-off.en-pos {
    position: absolute;
    left: 50px;
    top: 330px;
}

#univ-button-off.en-pos {
    position: absolute;
    left: 60px;
    top: 370px;
}

#state-button-on.en-pos {
    position: absolute;
    left: 40px;
    top: 270px;
}

#city-button-on.en-pos {
    position: absolute;
    left: 50px;
    top: 330px;
}

#univ-button-on.en-pos {
    position: absolute;
    left: 60px;
    top: 370px;
}

#state-button-off.pt-pos {
    position: absolute;
    left: 50px;
    top: 290px;
}

#city-button-off.pt-pos {
    position: absolute;
    left: 60px;
    top: 330px;
}

#univ-button-off.pt-pos {
    position: absolute;
    left: 60px;
    top: 370px;
}

#state-button-on.pt-pos {
    position: absolute;
    left: 50px;
    top: 290px;
}

#city-button-on.pt-pos {
    position: absolute;
    left: 60px;
    top: 330px;
}

#univ-button-on.pt-pos {
    position: absolute;
    left: 60px;
    top: 370px;
}

